<!DOCTYPE html>
<html>
<head>
    <title>File Upload and Translation</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            padding: 20px;
        }
        form {
            display: flex;
            flex-direction: column;
            width: 400px;
            margin: 0 auto;
        }
        .submit-btn {
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Upload a File</h1>
        <form method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Select a file to translate:</label>
                <input type="file" class="form-control" name="file" id="file" accept=".txt, .pdf, .png, .jpg, .jpeg">
            </div>
            <div class="form-group">
                <label for="reference_file">Select a reference file:</label>
                <input type="file" class="form-control" name="reference_file" id="reference_file" accept=".txt, .pdf, .png, .jpg, .jpeg">
            </div>

            <!-- Add the select dropdown for language options -->
            <div class="form-group">
                <label for="language">Translate to:</label>
                <select name="language" id="language" class="form-control">
                    <option value="">Select Language</option>
                    <option value="en">English</option>
                    <option value="hi">Hindi</option>
                    <option value="ta">Tamil</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary submit-btn">Upload and Translate</button>
        </form>
        {% if file_type %}
        <div class="result">
            <h2>File Type: {{ file_type }}</h2>
            <h2>Detected Language: {{ detected_language }}</h2>
            {% if translated_text %}
            <h2>Translated Text:</h2>
            <p>{{ translated_text }}</p>
            <a href="{{ docx_file }}" download>Download Translated DOCX</a> <!-- Add this line -->
            {% endif %}
        </div>
        {% endif %}
        {% if error %}
        <div class="alert alert-warning">{{ error }}</div>
        {% endif %}
    </div>

    <!-- Bootstrap and JQuery scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>